body {
    background-color: #f3f0ee;
}

h1 {
    font-size: 64px;
    color: #05060a
}

h2 {
    color: #212839;
}

a {
    color: #c8b6a5
}

p {
    color: #a8a9ad
}

.menu-link {
    font-size: 24px;
    color: #30c1aa;
}

.section {
    padding: 32px;
    margin-bottom: 16px;
    background: #ece8e5;
}

.section-title {
    margin-top: 0;
}

.sub-section {
    padding: 12px;
}

.sub-section-title {
    font-size: 16px;
    color: #827e7a;
}

.section .chip {
    background: #d7cfc9;
    color: #786c64;
    padding: 4px 8px;
    margin-right: 3px;
    font-size: 14px;
}