body {
    background-color: #f3f0ee
}

h1 {
    font-size: 64px;
    color: #05060a
}

h2 {
    color: #212839;
}

a {
    color: #c8b6a5
}

p {
    color: #a8a9ad
}

.menu-link {
    font-size: 24px;
    color: #30c1aa;
}